#calculator{
    border: 1px solid rgb(242, 236, 236);
    border-radius: 5px;
    width: 200px;
}
#display{
    margin: 10px;
    width: 85%;
    font-size: 25px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cal-button{
    width: 45px;
    height: 45px;
    margin: 3px;
}